@using PagedList.Mvc
@using Ruico.Dto.KaoQin
@using Ruico.WebHost
@model PagedList.IPagedList<Ruico.Dto.KaoQin.XiuJiaDTO>
    @{
        ViewBag.Title = "休假申请记录";

        var condition = ViewBag.Condition as KaoQinConditionDTO ?? new KaoQinConditionDTO();
        var userId = condition.UserId;

        var statusValue = condition.Statuses.Count > 0 ? condition.Statuses.First() : string.Empty;
        var statusItems = CustomDisplayExtensions.GetKaoQinStatusItemList("状态", statusValue);

        var dateStart = condition.CreatedStartTime.HasValue ? condition.CreatedStartTime.Value : DateTime.Today.AddMonths(-1);
        var dateEnd = condition.CreatedEndTime.HasValue ? condition.CreatedEndTime.Value.AddTicks(-1) : DateTime.Today;
    }

    <div id="content-header">
        <h1>休假申请记录</h1>
    </div>
    <div id="breadcrumb">
        <a href="@Url.Action("Index", "Home", new { area = "" }, null)" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
        <a href="@Url.Action("Index")">休假申请记录</a>

    </div>
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                @using (Ajax.BeginForm("SearchXiuJia", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ajaxRequestSuccess" }, new { @class = "form-inline" }))
                {
                    <section>
                        开始时间：<input type="text" name="dateStart" value="@dateStart.ToString("yyyy-MM-dd")" class="input-small datetimepicker">
                        结束时间：<input type="text" name="dateEnd" value="@dateEnd.ToString("yyyy-MM-dd")" class="input-small datetimepicker">
                        <input type="text" name="userId" id="userId" class="input-medium" placeholder="员工编号" value="@userId">&nbsp; &nbsp;
                        @Html.DropDownList("status", statusItems, new {@class = "input-medium"})
                        <input type="hidden" name="export" id="export" value="false"/>
                        <button type="submit" class="btn btn-primary" id="queryBtn">查询</button>
                        <button type="submit" class="btn btn-primary" id="exportBtn">导出</button>
                    </section>
                }
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>员工信息</th>
                                    <th>申请信息</th>
                                    <th>审批信息</th>
                                    <th>状态</th>
                                    <th>提交时间</th>
                                    <th>操作</th>
                                    <th>操作日志</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    KaoQinStatusDTO status;
                                    Enum.TryParse(item.Status, true, out status);

                                    <tr>
                                        <td>
                                            <p>员工编号：@item.UserId</p>
                                            <p>姓名：@item.Name</p>
                                            <p>部门：@item.Department</p>
                                            <p>职位：@item.Position</p>
                                        </td>
                                        <td>
                                            <p>请假类别：@item.Type</p>
                                            <p>请假事由：@item.Reason</p>
                                            <p>开始时间：@item.ActionStartTime.DisplayDateHourMinuteWeekDay()</p>
                                            <p>结束时间：@item.ActionEndTime.DisplayDateHourMinuteWeekDay()</p>
                                            <p>共计：@item.ActionDays 天 @item.ActionHours 时</p>
                                        </td>
                                        <td>
                                            @if (status == KaoQinStatusDTO.Approved)
                                            {
                                                <p>部门主管意见：@item.DepartmentSupervisorOpinion</p>
                                                <p>部门经理意见：@item.DepartmentManagerOpinion</p>
                                                <p>公司领导意见：@item.CompanyLeaderOpinion</p>
                                            }
                                        </td>
                                        <td>@Html.Raw(status.DisplayStatusText())</td>
                                        <td>@item.Created.Display()</td>
                                        <td>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <a href="javascript:void(0);" class="ajax-popup" data-url="@Url.Action("List", "OperateLog", new { area = "Core/System", sn = @item.Id })" data-title="【休假申请 @item.Name】操作记录" data-width="800" data-height="400"><i class="icon-list"></i>查看</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination pagination-right">
                    @Html.PagedListPager(
                        Model,
                        page => Url.Action(
                            "Index",
                            new RouteValueDictionary(new
                            {
                                page,
                                userId,
                                status = statusValue,
                                dateStart,
                                dateEnd
                            })),
                            CustomDisplayExtensions.PagedListRenderOptions)
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function() {
        $('.datetimepicker').datetimepicker({
            minView: "month", //选择日期后，不会再跳转去选择时分秒 
            format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式 
            language: 'zh-CN', //汉化 
            autoclose: true //选择日期后自动关闭 
        });

        $('#queryBtn').click(function() {
            $('#export').val('false');
        });
        $('#exportBtn').click(function () {
            $('#export').val('true');
        });
    });
</script>