@using Ruico.Domain.Weixin.Model
@{
    ViewBag.Title = "Ruico-考勤系统";
    //ViewBag.Title = "出差申请";
    //var member = ViewBag.Member as Member;
    //var department = ViewBag.Department as Department;
    var dateTime = DateTime.Now;
    //var dateTime = DateTime.Parse("2015-12-20 14:09:13");
    var dateTimeNowStr = dateTime.AddMinutes(5-dateTime.Minute%5).ToString("yyyy-MM-dd HH:mm");
}

@Html.Partial("_NavApply")

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered">
            <tr>
                <td>

                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="@Url.Action("Apply")">添加申请</a>
                        </li>
                        <li><a href="@Url.Action("Index")">历史记录</a></li>
                    </ul>
                    @using (Ajax.BeginForm("Apply", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ajaxRequestSuccess" }, new { @class = "well", id="form1" }))
                    {
                        <div class="control-group">
                            <label class="control-label">出差时间</label>
                            <div class="controls">
                                <input type="text" name="OutTime" value="@dateTimeNowStr" class="input-medium datetimepicker">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">返回时间</label>
                            <div class="controls">
                                <input type="text" name="InTime" value="@dateTimeNowStr" class="input-medium datetimepicker">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">出差地点</label>
                            <div class="controls">
                                <input type="text" class="input-medium" name="OutPlace" placeholder="出差地点">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">出差事由</label>
                            <div class="controls">
                                <textarea rows="3" name="OutReason" placeholder="出差事由"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">指派人</label>
                            <div class="controls">
                                <input type="text" class="input-medium" name="AppointPerson" placeholder="指派人">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary">提交申请</button>
                            </div>
                        </div>
                    }

                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //$('.datetimepicker').datetimepicker({
        //    format: 'yyyy-mm-dd hh:ii',
        //    language: 'zh-CN'
        //});

        $('#form1').submit(function () {
            ajaxForm(this);
            return false;
        });
    });
</script>

