@using Ruico.Infrastructure.Authorize.AuthObject
@using Ruico.WebHost.Models.System
@{
    var user = ViewBag.CurrentUser as UserForAuthorize;
    var menus = user == null ? new List<MenuForAuthorize>() : user.Menus;
    var modules = ViewBag.ExtModules as List<ExtModuleDTO>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ruico System</title>
    <meta charset="UTF-8" />
    @Styles.Render("~/Content/css")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    @Html.Partial("_Confirm")

    @Html.Partial("_Popup")

    @Html.Partial("_Header")

    @Html.Partial("_Modules", modules)

    @Html.Partial("_Menus", menus)

    @Scripts.Render("~/bundles/jquery")

    <div id="content">

        @RenderBody()

        @Html.Partial("_Footer")

    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/unicorn")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</body>
</html>
