@using Ruico.Domain.Weixin.Model
@model Ruico.Dto.KaoQin.XiuJiaDTO
@{
    ViewBag.Title = "Ruico-考勤系统";
    //ViewBag.Title = "请假申请";
    //var member = ViewBag.Member as Member;
    //var department = ViewBag.Department as Department;
    var dateTime = DateTime.Now;
    //var dateTime = DateTime.Parse("2015-12-20 14:09:13");
    var dateTimeNowStr = dateTime.AddMinutes(5 - dateTime.Minute % 5).ToString("yyyy-MM-dd HH:mm");

    var types = new[] {"事假", "病假", "丧假", "婚假", "公假", "工伤", "产假", "护理假", "其他" };
}

@Html.Partial("_NavApply")

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered">
            <tr>
                <td>

                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="@Url.Action("Apply")">添加申请</a>
                        </li>
                        <li><a href="@Url.Action("Index")">历史记录</a></li>
                    </ul>
                    @using (Ajax.BeginForm("Apply", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "ajaxRequestSuccess" }, new { @class = "well", id = "form1" }))
                    {
                        <div class="control-group">
                            <label class="control-label">请假类别</label>
                            <div class="controls">
                                @Html.DropDownListFor(x => x.Type, types.Select(x => new SelectListItem() { Text = x, Value = x }))
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">请假事由</label>
                            <div class="controls">
                                @Html.TextAreaFor(x => x.Reason, new { rows = "3", placeholder = "请假事由" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">开始时间</label>
                            <div class="controls">
                                <input type="text" name="ActionStartTime" value="@dateTimeNowStr" class="input-medium datetimepicker">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">结束时间</label>
                            <div class="controls">
                                <input type="text" name="ActionEndTime" value="@dateTimeNowStr" class="input-medium datetimepicker">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">共计</label>
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ActionDays, new {@class = "input-mini "}) 天
                                @Html.TextBoxFor(x => x.ActionHours, new { @class = "input-mini " }) 时
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary">提交申请</button>
                            </div>
                        </div>
                    }

                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //$('.datetimepicker').datetimepicker({
        //    format: 'yyyy-mm-dd hh:ii',
        //    language: 'zh-CN'
        //});

        $('#form1').submit(function () {
            ajaxForm(this);
            return false;
        });
    });
</script>

